* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

canvas {
  display: block;
}

.my-btn {
  padding: 8px 8px;
}

#canvas-wrap {
  position:relative
}

#overlay {
  position:absolute;
  top:220px;
  left:685px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box_super_sicuro {
  background-color: #28872e;
  border-radius: 4px;
  padding: 30px 30px;
}

.box_super_sicuro span {
  font-size: 30px;
}

.pwned {
  margin-top: 150px;
  background-color: #28872e;
  border-radius: 4px;
  text-align: center;
  font-size: 22px;
  padding: 30px 30px;
}
